@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-black: #222123;
    --color-main-bg: #232224;
    --color-white: #ffffff;
    --color-dark-brown: #523122;
    --color-mid-brown: #a26833;
    --color-light-brown: #e3a458;
    --color-red-brown: #7f3b2d;
    --color-yellow-brown: #a26833;
    --color-milk-yellow: #e3d3bc;
    --color-red: #a02128;
    --color-milk: #faeade;
    --font-sans: "Antonio", sans-serif;
    --font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #faeade;
    color: #523122;
    font-family: "Antonio", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.spin-circle {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nutrition-section {
    background-color: #faeade00;
    background-image: radial-gradient(circle, #f3ece2, #dcccb0);
}